@import "@fontsource/ubuntu";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: fixed;
  overflow-y: hidden;
  max-height: 100%;
}

body {
  font-size: 1.2rem;
  display: grid;
  grid-template-areas: "header video" "controls video";
  grid-template-columns: 1fr 3fr;
  font-family: "Ubuntu", "Trebuchet MS", Verdana, Geneva, Tahoma, sans-serif;
}

@media (orientation: portrait) {
  body {
    grid-template-areas: "video" "header" "controls";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #669df5;

    &:visited {
      color: #af73d5;
    }
  }
}

header {
  border-bottom: 2px solid color-mix(in oklab, currentColor 20%, transparent);

  & .title {
    font-size: 1.25em;
    padding: 0;
    margin: 0.75rem;

    & a.small-link {
      font-weight: normal;
      font-size: 0.75em;
    }
  }
}

timestamp-controls {
  grid-area: controls;
  overflow-x: hidden;
  overflow-y: scroll;
}

.subtitle p {
  margin: 0.75rem;
}

input {
  height: 1em;
  width: 1em;
  margin-left: 0;
}

.settings {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  position: sticky;
  padding: 0.5em;
  top: 0;
  backdrop-filter: blur(0.5em);
  background-color: color-mix(
    in oklab,
    light-dark(white, rgb(35, 35, 35)) 80%,
    transparent
  );
}

.setting {
  color: color-mix(in oklab, currentColor 60%, transparent);
}

/* The checkbox alignment in Safari is weirdly low. It's hard to write- standard
cross-platform JS to align it, so we target Safari specifically. */
/* biome-ignore lint/correctness/noUnknownTypeSelector: hackin' */
_::-webkit-full-page-media,
/* biome-ignore lint/correctness/noUnknownTypeSelector: hackin' */
  _:future,
:root .setting input[type="checkbox"] {
  vertical-align: 0.25em;
}

.setting:hover {
  /* background: color-mix(in oklab, currentColor 10%, transparent);
  box-shadow: 0 0 0.5em 0.5em color-mix(in oklab, currentColor 10%, transparent); */
  /* text-decoration: underline; */
  color: currentColor;
}

#lead-in-flash {
  margin: -0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
}

a.timestamp-link {
  touch-action: manipulation;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0em 0.5em;

  font-size: 1em;
  padding: 0.15em 0.45em;
  width: 100%;
  text-align: left;

  border: 1px solid transparent;
  margin: 2px 0;

  text-decoration: none;
  color: currentColor;

  background: linear-gradient(
    90deg,
    var(--gradient-left) 50%,
    var(--gradient-right) 50%
  );
  background-size: 200%;
  --gradient-left: light-dark(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.1));
  --gradient-right: light-dark(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3));

  .settings + & {
    margin-top: 0;
  }

  & .note {
    opacity: 0.35;
    font-size: 0.8em;
    grid-column: 2 / 3;
    text-wrap: pretty;
    padding: 0.2em 0em;
  }

  &:hover {
    --gradient-left: rgba(0, 0, 0, 0.05);
    border: 1px dashed color-mix(in srgb, currentColor 50%, transparent);

    /* biome-ignore lint/style/noDescendingSpecificity: Needed to keep this DRY. */
    &,
    & .timestamp-value {
      color: light-dark(rgba(0, 0, 255, 1), #669df5);
    }
  }

  .timestamp-value {
    color: light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
  }

  &.current {
    --gradient-left: rgb(0, 128, 255, 0.3);
    border: 1px solid color-mix(in srgb, currentColor 50%, transparent);
  }
}

video {
  grid-area: video;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

footer {
  display: grid;
  place-content: center;
  align-items: center;
  margin: 1em auto 1.5em;
  gap: 0.5em;

  font-size: 85%;

  & .flourish {
    text-align: center;
    font-size: 235%;
    color: light-dark(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  }

  & span {
    text-align: center;
  }
}

timestamp-controls {
  background-color: light-dark(transparent, rgb(35, 35, 35));
  top: 0;

  & .heading {
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    padding: 0.5em 0.5em 0.25em;
    gap: 0.5em;
    box-sizing: border-box;
  }
}

.fleuron {
  font-size: 125%;
}
